@model BookMyTrainAdminClientApp.Models.Station

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Station</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaultTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaultTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StationCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
