@model IEnumerable<BookMyTrainAdminClientApp.Models.Fare>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="d-flex justify-content-between">
    <a asp-action="Create">Create New Fare</a> 
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfCoach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fare1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfCoach)
            </td>
            <td>
                ₹ @item.Fare1
            </td>
            <td>
                <a class="text-warning" asp-action="Edit" asp-route-id="@item.TypeOfCoach">Edit</a> |
                <a class="text-info" asp-action="Details" asp-route-id="@item.TypeOfCoach">Details</a>
                @*<a class="text-danger" asp-action="Delete" asp-route-id="@item.TypeOfCoach">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
