@model BookMyTrainAdminClientApp.Models.Pnr

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pnr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JourneyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JourneyStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JourneyEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JourneyEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPassengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPassengers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Pnrnumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
