@model BookMyTrainAdminClientApp.Models.Contribution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contribution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangesMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangesMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeMadeByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeMadeByNavigation.AdminId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
