@model IEnumerable<BookMyTrainApp.Models.Pnr>

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor accessor;
@using BookMyTrainApp.Codes;
@using BookMyTrainApp.Models;
 
@{
    ViewData["Title"] = "Index";
    TicketCodes tickets = new();
    var allTickets = tickets.List().Result;

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pnrnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPassengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardingStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.UserId == Convert.ToInt32(accessor.HttpContext.Session.GetString("userid")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pnrnumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JourneyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JourneyStartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JourneyEndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPassengers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalFare)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromStation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToStation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BoardingStation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainNumber)
                    </td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                            
                            @foreach (var ts in allTickets)
                            {
                                if (ts.Pnrnumber == item.Pnrnumber)
                                {
                                    <td>
                                        @ts.PassengerName, @ts.Age, @ts.Gender, @ts.SeatNumber, @ts.Coach
                                    </td>
                                }
                            }
                </tr>
                }
            }
    </tbody>
</table>
