@model IEnumerable<BookMyTrainAdminClientApp.Models.StationDistance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="text-right">
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<style>
    .bottomRight {
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 10;
    }
</style>
<a class="bg-primary bottomRight" asp-action="Create" alt="Add New">
    <img width="35" src="~/plus.svg" />
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationANavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationBNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StationANavigation.StationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StationBNavigation.StationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance) KM
                </td>
                <td>
                    <a class="text-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="text-success" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
