@model DigitalBankWebAppMVC.Models.Transaction

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionReason)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FromAccountNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromAccountNavigation.AccHolderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToAccountNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToAccountNavigation.AccHolderName)
        </dd>
    </dl>
    
    <form asp-controller="Transactions" asp-action="Delete">
        <input type="hidden" asp-for="TransactionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="UserAccount" asp-action="Index">Back</a>
    </form>
</div>
