@model DigitalBankWebAppMVC.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionReason)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPending)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromAccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromAccountNavigation.AccHolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToAccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAccountNavigation.AccHolderName)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="UserAccount" asp-action="ListTransactions">Back to List</a>
</div>
